:root {
  --primary-color: rgb(183, 151, 241);
  --secondary-color: white;
  --tertiary-color: lavender;
  --quaternary-color: salmon;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header styles */
header {
  padding: 20px 35px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
}

header a {
  color: var(--secondary-color);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 0 30px;
}

header nav {
    margin: 7px 0;
    display: flex;
  }

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 5px;
    text-shadow: none;
}  

/* About me styles */
.bio {
  text-align: center;
}

.bio h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  color: var(--quaternary-color);
  margin: 80px auto;
}

.bio p {
  line-height: 1.7;
  color: var(--quaternary-color);
  width: 50%;
  margin: 50px auto;
  font-size: 20px;
}

.bio img {
  border: 5px solid var(--primary-color);
  margin: 20px
}

.flex1 {
  display: flex;
  justify-content: center;
}

/* Work section */
.apps {
  text-align: center;
  padding: 50px 0 50px 0;
}

.apps h2 {
  font-size: 25px;
  color: var(--quaternary-color);
  margin-bottom: 15px;
}

.apps img {
  border: 5px solid var(--primary-color);
}

.apps img:hover {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.title {
  background-color: var(--primary-color);
  height: 50px;
  width: 80px;
  position: absolute;
  bottom: 220px;
  left: 430px;
}

.title p {
  text-align: center;
  color: var(--secondary-color);
}

.flex2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
}

/* Contact section styles */
.contact-info {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 20px 0;
  background-color: var(--primary-color);
}

.contact-info ul {
  list-style: none;
}

.contact-info h2 {
  font-size: 25px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  padding: 20px 0 5px 0;
}

.contact-info a {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-info li {
  color: var(--secondary-color);
}

.contact-info a:visited {
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: none;
  color: var(--tertiary-color);
}



/* Footer styles */
footer {
  background: var(--primary-color);
  width: 100%;
  margin-bottom: 10px;
}


/* Smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
  header {
  padding-bottom: 0;
  justify-content: center;
  position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .bio {
    justify-content: center;
    width: 100%;
  }

  .apps div {
    flex: 0 70%;
    justify-content: center;
  }
}

/* Tablets and smaller */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .bio img {
    min-width: 200px;
  }
}

/*Mobile phones and smaller */
@media screen and (max-width: 575px) {
  .bio {
    flex: 0 100%;
    justify-content: center;
  }

  .bio h2 {
    font-size: 20px;
    width: auto;
  }
  .bio img {
    min-width: 200px;
    min-height: 300px;
  }

  .contact-info {
    text-align: center;
    justify-content: space-between;
    padding: 10px;
  }

}